    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .container {
        display: grid;
        justify-content: center;
      }
      
      .grid-container {
        display: grid;
        width: 100%;
        max-width: 1200px;
        min-height: 100vh;
      }
      
      .header {
        display: grid;
        padding: 20px 0;
        background-color: darkseagreen;
      }
      
      .header__title,
      .footer__title {
        color: aliceblue;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: -15px;
        margin-top: -15px;
      }

      .main__title{
        color: aliceblue;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 100px;
      }
      
      .header__title {
        padding-bottom: 20px;
      }
      
      .nav__list {
        display: grid;
        justify-content: space-around;
        margin-left: 40px;
        grid-gap: 20px;
        list-style-type: none;
        grid-template-columns: repeat(6,[col] 1fr);
        grid-template-rows: repeat(1, [row] 1fr);
      }
      
      .button {
        font-size: 20px;
        color: rgb(53, 51, 51);
        border: none;
        background-color: rgb(244, 244, 244);
        padding: 10px 15px;
        border-radius: 22px;
      }
      
      .btn:hover {
        background-color: rgb(30, 60, 36);
        color: aliceblue;
      }
      
      .main {
        padding: 20px 0;
        background-color: steelblue;
      }
      
      .main__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,[col] 1fr);
        grid-template-rows: repeat(5, [row] 1fr);
        grid-gap: 20px;
        padding: 10px 20px 10px 20px;
      }
      
      .main__item-1 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-2 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-3 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
        grid-column: span 2;
        grid-row: span 2;
      }

      .main__item-4 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-5 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-6 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
        grid-column: span 2;
        grid-row: span 2;
      }

      .main__item-7 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-8 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-9 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
        grid-column: span 2;
        grid-row: span 2;
      }
      
      .main__item-10 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .main__item-11 {
        min-width: 270px;
        min-height: 80px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: rgb(51, 51, 182);
        color: aliceblue;
        font-size: 50px;
      }

      .footer {
        padding: 20px 0;
        background-color: skyblue;
      }
      
      